<% if current_user.admin %>
  <h1 class="alert alert-info this-works">
    <a href="#menu-toggle" style="font-size:0.5em; display:none;" id="menu-toggled" class="btn btn-default glyphicon glyphicon-th-large menu-toggle"></a>
    <%=current_user.firstname %> from Be-Lancer
  </h1>
<% else %>
  <h1 class="alert alert-info this-works">
    <a href="#menu-toggle" style="font-size:0.5em; display:none;" id="menu-toggled" class="btn btn-default glyphicon glyphicon-th-large menu-toggle"></a>
    <%=current_user.firstname %>'s Details'
  </h1>
<% end %>

<%= react_component("UsersApp",
                     props: {users: @users, current_user: current_user},
                     prerender: false) %>
